li {
    list-style-type: none;
    /* Убираем маркеры */
}

ul {
    padding-inline-start: 0px;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    font-size: calc( (100vw - 30rem)/(80 - 30) * (1.5 - 1) + 1rem);
}

body {
    font-family: Avenir, sans-serif;
    color: #4B5D68;
}

button {
    border: 0;
    background-color: inherit;
}