header {
    max-width: 78rem;
    margin: 0 auto;
    padding-top: 3.125rem;
}

nav {
    display: flex;
    align-items: center;
}

.hamburger {
    display: none;
}

.Active {
    font-weight: 800;
    color: #212353;
}

ul {
    display: flex;
}

li {
    margin-right: 2.5rem;
}

.Logo {
    width: 3.063rem;
    height: 2.188rem;
    padding-right: 7.563rem;
}

.button__request {
    height: 3.75rem;
    width: 13.125rem;
    margin-left: 5rem;
    display: flex;
    white-space: nowrap;
    align-items: center;
    justify-content: space-around;
    background: #FFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 3.125rem;
}


/*hero*/

.header {
    background-image: url(/web_ir-23_lr/lr/image/image1.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 40rem 20rem;
}

.header__hero__title {
    padding-top: 8.125rem;
    width: 40.313rem;
    font-size: 5rem;
    line-height: 110%;
}

.header__hero__txt {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    width: 23.75rem;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 160%;
}

.header__hero__learnmore {
    white-space: nowrap;
    margin-bottom: 6.25rem;
    width: 10.625rem;
    height: 3.75rem;
    background: #9C69E2;
    border-radius: 3.125rem;
    font-weight: 800;
    font-size: 1.125rem;
    line-height: 160%;
    color: #FFFFFF;
}