.footer {
    padding-top: 8.313rem;
}

hr {
    width: initial;
    height: 2px;
    margin: 0 auto;
    background: #9C69E2;
    opacity: 0.2;
}

.footer__content {
    display: flex;
}

.footer__txt {
    margin-right: 7.688rem;
    padding-top: 6.25rem;
    width: 36.5rem;
}

.footer__txt__2 {
    padding-top: 4.688rem;
    width: 22.5rem;
    font-size: 0.75rem;
    line-height: 180%;
    letter-spacing: 0.01em;
}

.footer__button__1 {
    height: 3.75rem;
    width: 10.625rem;
    margin-top: 7.563rem;
    margin-right: 1.875rem;
    white-space: nowrap;
    background: #F063B8;
    border-radius: 3.125rem;
    color: #fff;
}

.footer__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer__up__button {
    height: 3.75rem;
    width: 13.125rem;
    margin-top: 7.563rem;
    margin-bottom: 5.625rem;
    display: flex;
    white-space: nowrap;
    align-items: center;
    justify-content: space-around;
    background: #FFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 3.125rem;
}

.footer__button__arrow {
    width: 1.25rem;
}

.footer__down__button {
    height: 3.75rem;
    width: 3.75rem;
    background: none;
}

.footer__requestdemo {
    font-weight: bold;
    padding-right: 1.25rem;
}

.footer__right__message__image {
    height: 3.75rem;
    width: 3.75rem;
}