li {
    list-style-type: none;
    /* Убираем маркеры */
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    font-size: calc( (100vw - 30rem)/(80 - 30) * (1.5 - 1) + 1rem);
}

body {
    font-family: Avenir, sans-serif;
    color: #4B5D68;
}

button {
    border: 0;
}

h1 {
    font-family: Helvetica;
    font-weight: bold;
    color: #212353;
}

:root {
    --font-size-md: 1rem;
    --font-size-sm: 0.875rem;
    --font-size-xs: 0.75rem;
}

@function calcFluidFontSize($f-min, $f-max, $w-min, $w-max, $units: px) {
    $f-min: strip-unit($f-min);
    $f-max: strip-unit($f-max);
    $w-min: strip-unit($w-min);
    $w-max: strip-unit($w-max);
    $k: ($f-max - $f-min)/($w-max - $w-min);
    $b: $f-min - $k * $w-min;
    $b: $b + $units;
    @return calc( #{$k} * 100vw + #{$b});
}