@media screen and (max-width:1000px) {
    ul {
        flex-direction: column;
        align-items: center;
    }
    p {
        text-align: center;
    }
    .header {
        width: 100%;
        font-size: 100%;
        background-image: none;
    }
    .Logo {
        padding-top: 10%;
        padding-right: unset;
        padding-bottom: 10%;
    }
    .button__request {
        margin-left: 0px;
    }
    .header__nav {
        align-items: center;
        flex-direction: column;
    }
    .header__hero__title {
        width: auto;
        font-size: 200%;
        text-align: center;
    }
    .header__hero__txt {
        width: auto;
    }
    .info {
        flex-direction: column;
        align-items: unset;
    }
    .section__section2__title {
        width: auto;
        font-size: 200%;
        text-align: center;
        padding-right: 0;
    }
    .section__section2 {
        font-size: 100%;
        align-items: center;
        justify-content: center;
    }
    .section__section2__txt {
        width: auto;
        align-items: center;
        padding-right: 0;
    }
    .up__menu {
        flex-direction: column;
    }
    .down__menu {
        flex-direction: column;
    }
    .up__menu__left {
        width: auto;
        flex-direction: column;
    }
    .up__menu__right {
        width: auto;
        margin: 0;
        flex-direction: column;
    }
    .down__menu__left {
        width: auto;
        flex-direction: column;
    }
    .down__menu__right {
        width: auto;
        margin: 0;
        flex-direction: column;
    }
    .features__txt {
        width: auto;
    }
    .footer__txt__title {
        width: auto;
    }
    .footer__content {
        flex-direction: column;
    }
    .footer__txt__1 {
        width: auto;
        font-size: 100%;
    }
    .footer__txt {
        order: 3;
        width: 100%;
    }
    .footer__button__1 {
        width: auto;
        order: 1;
        margin-top: 10%;
        margin-left: 0;
    }
    .footer__right__content {
        order: 2;
        margin-top: 10%;
    }
    .footer__right__button__2 {
        margin-top: 0;
        width: auto;
        margin-left: 0;
    }
    .footer__txt__2 {
        width: auto;
    }
}