section {
    max-width: 70rem;
    margin: 0 auto;
    margin-top: 6.25rem;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 3.125rem;
}

.section__section2__image {
    width: 29.813rem;
    height: 31.5rem;
}

.section__section2__title {
    width: 30rem;
    font-size: 2.5rem;
    line-height: 130%;
}

.section__section2__txt {
    padding-top: 2.5rem;
    width: 29.625rem;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 160%;
}


/*features menu*/

.features {
    display: flex;
    flex-direction: column;
    padding-top: 9.375rem;
    padding-bottom: 4.375rem;
}

.features__title {
    font-size: 2.5;
    line-height: 130%;
    text-align: center;
}

.features__txt {
    font-size: 1.125rem;
    line-height: 160%;
    text-align: center;
    width: 36.5rem;
    margin: 0 auto;
}